In [113]:
#-*- coding: utf-8 -*-

In [3]:
# 거듭제곱


var_01=3

print('거듭제곱 : ', var_01**2)
print('거듭제곱 : ', pow(var_01,2))#python에서 제공하는 거듭제곱 함수

거듭제곱 :  9
거듭제곱 :  9

In [5]:
### 파이썬 모듈을 이용한 수학계산

In [6]:
import math

In [7]:
#거듭 제곱
math.pow(var_01,2)

9.0

In [10]:
math.sqrt(var_01)#루트

1.7320508075688772

In [11]:
math.sin(45)

0.8509035245341184

In [13]:
#sin45의 제곱 더하기 cos45의 제곱 구하기
math.pow(math.sin(45),2)+math.pow(math.cos(45),2)

1.0

In [82]:
### 난수 발생

In [18]:
import random

In [52]:
random.randint(1,100)

81

In [80]:
# 로또 번호 생성기
lotto_list=range(1,46)#1부터 46까지 반복
random.sample(lotto_list,6)

[11, 28, 42, 5, 22, 17]

In [78]:
a=range(1,11)

for i in a:
    print(a)

range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)
range(1, 11)

In [88]:
print(round(2.5))#짝수는 버리고
print(round(3.5))#홀수는 올리고
print(round(123.45,1))#소수 첫째자리까지
print(round(123.456,2))#소수 첫째자리까지

2
4
123.5
123.46

In [89]:
math.ceil(1.1)#그냥 올림

2

In [90]:
math.floor(1.9)# 버림

1

In [96]:
dir

NameError: name 'vir' is not defined

In [92]:
del var_01#데이터를 제거한다.

NameError: name 'var_01' is not defined

In [98]:
#관계연산자
num1=100
num2=20

In [99]:
print(num1==num2)
print(num1!=num2)
print(num1>num2)
print(num1<num2)
print(num1>=num2)
print(num1<=num2)

False
True
True
False
True
False

In [103]:
#논리 연산자
print((num1>=50)&(num2<=10))
print((num1>=50)|(num2<=10))
print((num1>=50)and(num2<=10))
print((num1>=50)or(num2<=10))
not(num1>=50)
##python은 and, or, not으로 논리연산자를 사용하면 된다.

False
True
False
True

In [109]:
import sys
import io
sys.stdout = io.TextIOWrapper(sys.stdout.detach(), encoding = 'utf-8')
sys.stderr = io.TextIOWrapper(sys.stderr.detach(), encoding = 'utf-8')

UnsupportedOperation: detach

In [137]:
!dir

 C ����̺��� �������� �̸��� �����ϴ�.
 ���� �Ϸ� ��ȣ: DE91-D91C

 c:\Users\msoko\Documents\Python Scripts ���͸�

2023-01-16  ���� 11:14    <DIR>          .
2023-01-13  ���� 05:28    <DIR>          ..
2023-01-16  ���� 11:30             1,823 01.�ݺ��� ���ǹ�.ipynb
2023-01-16  ���� 11:30            13,610 02.������ �ڷ���.ipynb
2023-01-16  ���� 11:14                 0 50
               3�� ����              15,433 ����Ʈ
               2�� ���͸�  216,905,932,800 ����Ʈ ����

In [112]:
#문자열 자료형

var_01="hello world"
var_01

'hello world'

In [119]:
#여러줄 문자열 출력

var_01="""
Hello World! 
Good to meet you!
"""
var_01
print(var_01)

Hello World!
Good to meet you!

In [120]:
# 쌍따옴표와 홑따옴표의 사용

var_01="My father's wife is my mother."
var_02='He says "I love you"'

print(var_01)
print(var_02)

My father's wife is my mother.
He says "I love you"

In [123]:
#문자열 연산(덧셈)

var_01="Python"
var_02="is fun"

print(var_01+var_02)
print(var_01,var_02)#','를 사용할 경우 문자열을 한칸 띄고 이어준다.

Pythonis fun
Python is fun

In [124]:
#문자열 연산(곱셈)

print(var_01*3) # 3번 출력하게 나온다.

PythonPythonPython

In [133]:
print("=======================\n Python\n=======================")

printTest="""
======================
Python
======================"""
print(printTest)

=======================
 Python
=======================

======================
Python
======================

In [142]:
#문자열 indexing 과 Slicing

str="abcdefghijklmn"
print(str[0])
print(str[0:3])#범위 지정해서 값을 가져오는 역할
print(str[-1])# 뒤에있는 값부터 값을 가져온다
print(str[5:])#뒤에있는 값을 지정하지 않으면 끝까지 출력한다.
print(str[:5])#지정된 범위 전까지의 내용을 출력한다.
print(str[5:-2])# 지정된 범위부터 뒤에있는 값을 뺀 범위를 출력한다.

a
abc
n
fghijklmn
abcde
fghijkl

In [152]:
str="20221229Snow"
print(str[0:4]+" "+str[4:8]+" "+str[8:])
print(str[0:4]+" "+str[4:8]+" "+str[8:])

2022 1229 Snow

In [153]:
dir()#현재 저장된 데이터를 호출한다

['In',
 'Out',
 '_',
 '_10',
 '_105',
 '_11',
 '_112',
 '_118',
 '_12',
 '_13',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_36',
 '_37',
 '_38',
 '_39',
 '_40',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_51',
 '_52',
 '_60',
 '_61',
 '_62',
 '_63',
 '_64',
 '_65',
 '_66',
 '_67',
 '_68',
 '_69',
 '_7',
 '_70',
 '_71',
 '_72',
 '_77',
 '_79',
 '_8',
 '_80',
 '_89',
 '_90',
 '_93',
 '_94',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'i',
 'io',
 'lotto_list',
 'math',
 'num1',
 'num2',
 'open',
 'os',
 'printTest',
 'quit',
 'random',
 'str',
 'sys',
 'var_01',
 'var_02']

In [168]:
str="abbde"
#abcde로 출력하기
print(str[0:2]+"c"+str[3:5])
# str[2]="c"
str.replace(str[3],"c")
#replace를 이용하여 바꿔보기

abcde

'abbce'

## 문자열 Formatting

%s, %d, %f

In [169]:
# 정수형 Formatting
print("I have %d apples."%2)

I have 2 apples.

In [170]:
number=2
print("I have %d apples." %number)

I have 2 apples.

In [171]:

print("I have %s apples." %"two") #문자열

I have two apples.

In [172]:
number=2
fruit="apples"
print("I have %d %s."%(number,fruit)) #Tuple 방식이다.

I have 2 apples.

In [174]:
# 문자열 정렬
print(" I have 2 %10s ."%"apples") # 우측 정렬
print(" I have 2 %-10s ."%"apples") # 좌측 정렬

 I have 2     apples .
 I have 2 apples     .

In [175]:
print("%0.4f"%3.141592)
print("%10.4f"%3.141592)#소수점을 포함한 자릿수 10개 뒤에 .4는 소수점 4자리까지 뽑기

3.1416
    3.1416

## 문자열 관련함수

In [178]:
str="I have a dream."
print(str.count('a'))#몇개가 쓰였는지 count를 세어줌
print(len(str))#글자의 갯수 length

3
16

In [182]:
print(str.find('e'))
print(str.find('p'))# -1은 숫자가 없다는 의미를 지님

5
-1

In [185]:
str=","
str.join('abcdefg')# 각 글자마다 ,를 넣어준다.

'a,b,c,d,e,f,g'

In [186]:
str='hi'
str.upper()#대문자로 올려줌

'HI'

In [187]:
str="HI"
str.lower()#소문자로 내려줌

'hi'

In [190]:
str='       hi'
str.lstrip()#앞에있는 공백을 지워줌.

'hi          fas'

In [189]:
str='hi         '
str.rstrip()#뒤에있는 공백을 지워줌

'hi'

In [200]:
str='           hi          '
str.rstrip().lstrip()
str.strip()#전체 공백을 지워줌.

'hi'

In [201]:
str='Life is too short to be happy.'
str.replace('happy','unhappy')#글씨를 바꿔줌.

'Life is too short to be unhappy.'

In [213]:
str='Life is too short to be happy.'
list01=str.split()#공백으로 끊어서 각 list 내용들을 보여줌.

list01
type(list01)
list01[0]#list 형식으로 가져와서 보여줌

'Life'

In [218]:
str02='a:b:c:d'

list02=str02.replace(':',' ')#글씨를 바꿔줌.
list02

'a b c d'

### 고급 문자열 Formatting

In [215]:
"I have {0} apples.".format(3)

'I have 3 apples.'

In [217]:
"I have {0} apples.".format("three")

'I have three apples.'

In [219]:

number=3
'I have {0} apples.'.format(number)

'I have 3 apples.'

In [222]:
number=10
day='three'
'I have {0} apples, I will go aborad for {1} days'.format(number,day)

'I have 10 apples, I will go aborad for three days'

In [227]:
"{0:<10}".format('hi')#왼쪽 정렬이다.

'hi        '

In [228]:
"{0:>10}".format('hi')#오른쪽 정렬이다.

'        hi'

In [232]:
"{0:^10}".format('hi')#가운데 정렬이다.

'    hi    '

In [231]:
"{0:=^10}".format('hi')#공백을 해당기호로 채워 넣는다.

'====hi===='

In [233]:
"{0:!>10}".format('hi')#공백을 해당 정렬로 채워넣는다.

'!!!!!!!!hi'

In [234]:
y=3.141592
"{0:0.2f}".format(y)#format안에 해당되는 값의 소수점 둘째자리까지 뽑는다.

'3.14'

In [241]:
"{0:<10.2f}".format(y)#format안에 해당되는 값의 소수점 둘째자리까지 뽑고 오른쪽 정렬

'3.14      '

In [236]:
# f 
name ='홍길동'
age=30
f'나의 이름은 {name} 이고 나이는 {age}세 입니다.'#주의! f를입력하고 그다음 내역을 바로 띄어쓰기 쓰면 안됨! f는 인터폴레이션

'나의 이름은 홍길동 이고 나이는 30세 입니다.'

In [237]:
f'나는 내년이면 {age+1}살 입니다.'

'나는 내년이면 31살 입니다.'

## 날짜형 변환

In [242]:
from datetime import datetime, timedelta
#데이터 패키지에서 소속된 패키지들만 가져오겠다. import

In [244]:
time1=datetime(2022,12,25,21,0,0,0)
print(time1)#숫자를 받아서 날짜 형식으로 바꿔준다.

2022-12-25 21:00:00

In [245]:
time2=datetime.now()#미리세컨드까지 뽑힘
print(time2)

2023-01-16 13:59:04.926570

In [246]:
print(time2-time1)#날짜의 차이를 보여줌.

21 days, 16:59:04.926570

In [247]:
print(type(time2))

<class 'datetime.datetime'>

In [248]:
print((time2-time1).days,'일')#.days를하면 해당되는 달,월,일의 값만 가져와서 계산 시켜준다.

21 일

In [251]:
print(time2+timedelta(days=5))#날짜를 더해주기
print(time2+timedelta(days=-3))#날짜를 빼주기
print(time2+timedelta(days=1,hours=-2))#하루 뒤, 두시간 전, 해당되는 날짜 데이터의 값을 구분하여 더하거나 빼주는 역할을 한다.

2023-01-21 13:59:04.926570
2023-01-13 13:59:04.926570
2023-01-17 11:59:04.926570