In [1]:
var01=[]
var02=[1,2,3]
var03=['I' ,'have', 'a', 'dream']
var04=[1,2,'Dream','True']
var05=[1,2,['Dream','True']]#2차원 리스트, 2차원 배열

var05[2]

['Dream', 'True']

In [20]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)
print(var05[2][0])
print(var02[1]+var02[0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]
Dream
3

In [29]:
var=[1,2,['a','b',['Dream','True']]]#3차원 배열
print(var[2][2][0])
print(var[-1][-1][0])#맨뒤에 있는 값들만 찾아서 뽑는 느낌으로 가면 일일히 셈을 하지 않고 뽑을 수 있다.

Dream
Dream

In [31]:
print(var[0:2])
print(var[2:])

[1, 2]
[['a', 'b', ['Dream', 'True']]]

## 리스트 연산자

In [32]:
#리스트의 숫자 합치기
var01=[1,2,3]
var02=[4,5,6]
var01+var02#덧셈 연산이 아닌 이어 붙임

[1, 2, 3, 4, 5, 6]

In [39]:
for i in range(len(var01)):
    print(var01[i]+var02[i])

5
7
9

In [41]:
var01*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
var01=['a','b','c']
var02=['d','e','f']
var01+var02

['a', 'b', 'c', 'd', 'e', 'f']

In [44]:
var01*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [47]:
var=[1,2,3]
str(var[2])+'hi'#문자열로 변환 문자열 변환 형변환

'3hi'

## 리스트의 수정과 삭제

In [74]:
var=[1,2,3]
var[2]=4
var

[1, 2, 4]

In [75]:
var[1:2]=['a','b','c']#범위에는 여러가지 데이터를 넣을 수 있음
var

[1, 'a', 'b', 'c', 4]

In [76]:
# [1,'c',4]

var[1:3]=[]#해당되는 값을 비움.
var

[1, 'c', 4]

In [77]:
del var[1]
var

[1, 4]

In [78]:
var=[1,2,3]
var.append(4)#값을 하나씩 추가함.
var

[1, 2, 3, 4]

In [79]:
var.append([5,6])#값을 하나씩 추가함.
var

[1, 2, 3, 4, [5, 6]]

In [82]:
var=[1,4,3,2]
print(var)

#오름차순 정렬 
var.sort()#알아서 값을 정렬해줘서 저장함. 한글, 영어를 ㄱ~ㅎ, a~z 까지 정렬해준다.
print(var)

#내림차순 정렬
var.reverse()
print(var)

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [90]:
var=['a','c','b']
var1=['대','한','민','국']
print(var)
print(var1)

var.sort()
print(var)
var1.sort()
print(var1)

var.reverse()
print(var)
var1.reverse()
print(var1)

['a', 'c', 'b']
['대', '한', '민', '국']
['a', 'b', 'c']
['국', '대', '민', '한']
['c', 'b', 'a']
['한', '민', '대', '국']

In [91]:
# 리스트의 위치(index) 정보
var=[4,5,6]
var.index(5)# 값 5의 위치 정보를 알려준다.

1

In [92]:
#리스트의 요소 삽입
var=[1,2,3]
var.insert(0,4)#0번쨰의 값 4를 넣어준다.
var

[4, 1, 2, 3]

In [96]:
#리스트의 요소 제거
var=[10,20,30]
var.remove(10)# 데이터를 보고 값을 지운다.
var.remove(var[0])#값의 위치를 지정해서 지운다.
var

[30]

In [97]:
# 리스트의 요소 끄집어 내기
var =[1,2,3]
print(var.pop())# 제일 뒤의 값을 빼낸다.
print(var)

3
[1, 2]

In [98]:
#리스트의 확장
var=[1,2,3,4]
var.extend([5,6])#덧붙여 주는 느낌
var

[1, 2, 3, 4, 5, 6]